* {
    box-sizing: border-box;
    margin: 100px;
    padding: 0;
}
.body{
    display: flex;
flex-direction: column;
align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
.header__nav{
    align-self: stretch;
    height: 1fx;
}
.nav__link{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    height: 1fx;
}
.main{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.picture{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px;
}
img{
    float:right;
    width: 40%;
}
section{
    width:fit-content;
    padding: 5px;
}
.projects__project{
        margin: 10px auto;
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 10px;
}
.project__title{
    align-self: center;
}
.project__date{
    margin-top: auto;
    align-self: flex-end;
}
.project__articles{
display: flex;
flex-direction: row;
gap:5px;
}
.about__title {
    display:flex;
justify-content: center;
}
.virtualpet{
    width: 200px;
    height: 250px;
}
.fizzbuzz{
    width: 200px;
    height: 250px;
}
.portfolio{
    display: flex;
    align-items: center;
    width: 200px;
    height: 250px;
}