*{
    margin: 10px;
    padding: 10px;

}
body{
background-image:url(images/try\ this.png);
}
.container{
    color: white;
    background-color: rgb(2, 2, 2);
}
header{
    background-image: url(images/26131.jpg);
}
footer{
    background-color: rgb(246, 248, 248);
}
.nav__links{
background-color: rgb(240, 236, 232);
border: rgb(32, 102, 102);
}
.projects__project {
  border: 2px solid rgb(245, 242, 242);
  border-radius: 15px;
}

img{
    border-color: white;
    border: 2px solid rgb(248,246,246);
    border-radius: 15px ;
}